/* nav bar */
nav h1{
    float:none;
    text-align: center;
    padding:15px 0;
}
nav ul,
nav ul li{
    float:none;  
}
nav ul li a{
    padding: 10px 0;
}

/* showcase */
.showcase{
    height:500px;
}
.showcase h1{
    padding-top:100px;
}
.showcase p{
    padding:40px 0;
}

/* home page info section */
.home-info{
    height:600px;
}
.img-info,
.info{
    min-height: 50%;
    float: none;
    width:100%;
}
/* hotel facilities */
/* contact info  */
.hotel-info,
.contact-form{
    height:100%;
}
.hotel-info section,
.contact-form section{
    float:none;
    width: 100%;
    min-height: fit-content;
}
.hotel-info section p,
.contact-form section p {
    padding: 0 20px 20px 20px;
}

/* about page content  */
.content-about{
    height: 800px;
}

.content-about .content{
    float: none;
    width: 100%;
    padding-bottom: 20px;
    height: auto;
}

.content-about h1{
    padding-bottom:0;
}

.content-about .about-img{
    min-height: 50%;
    width: 100%;
}

/* review */
.review{
    height: 100%;
}
.review h2{
    line-height: 1.1;
}
/* contact page  */
.contact h1{
    text-align: center;
}
.contact{
height: 100%;
}

/* contact page info  */
.contact-form section{
    border-bottom: 3px dotted #333;
}